*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family:"Merriweather", sans-serif;
    background-color: #ebf2ff;
    overflow-x: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.hero__container {
    width: 100%;
}

.hero__image__container {
    width: 100%;
}

.hero__image {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

.navbar__brand {
    width :100px;

}

.navbar__logo {
    width: 100%;
}

.primary__button {
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
      );
      color: #fff;
      padding: 12px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
}

.hero__text {
    font-size: 30px;
    color: #1d3557;
    margin: 20px 0;
}

/* menu styles*/

.explore__menu__container {
    margin-top: 15px;
}

.explore__menu__text{
    font-size: 30px;
    text-align: center;
    padding-bottom: 15px;
}
.food__menu__card {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
}

.food__image {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.food__menu__card__description {
    padding: 20px;
}

.explore__menu__view__more {
    display: flex;
    justify-content: center;
}

/* flex */

.restaurant__flex__row__one,
.restaurant__flex__row__two {
    width: 100%;
    display: flex;
    gap: 4px;
}

.restaurant__1__image,
.restaurant__2__image,
.restaurant__3__image,
.restaurant__4__image{
    width: 100%;
    height: 200px;
    border-radius: 8px;
}

.restaurant__container {
    margin-top: 40px;
}

.restaurant__1,
.restaurant__2,
.restaurant__3,
.restaurant__4 {
    width: 100%;
    height: 100%;
}
.restaurant__flex__row__one {
    align-items: baseline;
    margin-bottom: 2px;
}

.restaurant__2__image,
.restaurant__3__image{
height: 150px;
width: 100%;
}

.restaurant__1__image,
.restaurant__4__image{
 height: 100px;
 width: 150px;
 width: 100%;
}

.restaurant__description{
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}
/* home work search section*/

.search__description {
    font-size: 30px;
    color: #1d3557;
    margin: 20px;
}

.search__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.search__description__items {
    padding-left: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search__input {
    height: 28px;
    width: 100%;
    margin-bottom: 6px;
    padding: 0 80px;
}

.button {
    margin-left: 3px;
}

/* media section*/
@media (min-width: 768px){
 .navbar {
     justify-content: space-between;
     padding: 10px 20px;
 }
 .navbar__brand {
    width: 150px;
}
.primary__button {
    padding: 12px 20px;
    font-size: 20px;
}
.hero__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.explor__menu__lists {
    display: flex;
    gap: 8px;
    margin-top: 25px;
}
#pizza__cart {
    margin-top: -20px;
    margin-bottom: 30px;
}

.restaurant__description {
    font-size: 40px;
    width: 100%;
}

.restaurant__container {
    display: flex;
    align-items: center;
}

.restaurant__flex {
    width: 100%;
}

.explore__menu__container {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100;
}

.explore__menu__gradient__bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
      );

      z-index: -1;
      transform: skewY(-5deg);
}
.search__container {
    align-items: center;
}
.search__description {
    font-size: 40px;
}
.search__description__items {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
}

@media (min-width: 1020px){
    .container {
        max-width: 900px;
    }
 .hero__text{
     font-size: 45px;
 }
 .explor__menu__lists {
     gap: 20px;
     padding: 0 20px;
 }
 .explor__menu__text {
     font-size: 50px;
 }
 .restaurant__container {
     margin-top: 30px;
 }
}
@media (min-width: 1400px){
 .container{
        max-width: 1250px; 
}
}